<h1>Here Is Your Profile</h1>
<nav>
	<li><%=link_to "Home", root_path%></li>
	<li><%=link_to "Sign Up", new_user_path%></li>
	<li>Log In</li>
	<li><%=link_to "Search", search_path%></li>
</nav>
<br>

<%=render "user", user: @user %>

<%=link_to "Edit Profile", edit_user_path%>

<%=link_to "Delete User", user_path(params[:id]), method: :delete %>