<h1>Create a New Post</h1>
<nav>
	<li><%=link_to "Home", root_path%></li>
	<li><%=link_to "Sign Up", new_user_path%></li>
	<li>Log In</li>
	<li><%=link_to "Search", search_path%></li>
</nav>
<br>

<%=form_for [@user, @post] do |f| %> <!--undefined method `posts_path' RAILS assumes its not a nested resource-->
	<%=f.label :title, "Title" %>
 	<%=f.text_field :title %>
 	<br>
 	<%=f.submit "Post It!" %> 
<% end %>